*.o
/*.dSYM
0-basics-caller
1-count-test
2-getnth-test
3-deletelist-test
4-pop-test
5-insertnth-test
6-sortedinsert-test
7-insertsort-test
8-append-test
9-frontbacksplit-test
10-removeduplicates-test
11-movenode-test
12-alternatingsplit-test
13-shufflemerge-test
14-sortedmerge-test
15-mergesort-test
16-sortedintersect-test
17-reverse-test
18-recursivereverse-test
